<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--here we add path to our repo-->
<mapper namespace="com.example.taskList.repository.UserRepository">
    <resultMap id="UserResultMap" type="com.example.taskList.domain.user.User" autoMapping="false">
<!-- we map our data from userRepo by each object, od not forget about alias we used in db       -->
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="username" column="user_username"/>
        <result property="password" column="user_password"/>
<!--        for the set of roles we use collection name-->
        <collection property="roles"
                    ofType="com.example.taskList.domain.user.Role"
                    autoMapping="false">
            <result property="name" column="user_role_role"/>
        </collection>
<!--        resultMap as reference to the another xml file we created-->
        <collection property="tasks"
                    ofType="com.example.taskList.domain.task.Task"
                    resultMap="com.example.taskList.repository.TaskRepository.TaskResultMap"
                    autoMapping="false"/>
    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        SElECT u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        t.id as task_id,
        t.title as task_title,
        t.description as task_description,
        t.expiration_date as task_expiration_date,
        t.status as task_status
        from users u
        LEFT JOIN users_role ur on u.id = ur.user_id
        LEFT JOIN users_tasks ut on u.id = ut.user_id
        LEFT JOIN tasks t on ut.task_id = t.id
        WHERE u.id = #{id}
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SElECT u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        t.id as task_id,
        t.title as task_title,
        t.description as task_description,
        t.expiration_date as task_expiration_date,
        t.status as task_status
        from users u
        LEFT JOIN users_role ur on u.id = ur.user_id
        LEFT JOIN users_tasks ut on u.id ye  ut.user_id
        LEFT JOIN tasks t on ut.task_id = t.id
        WHERE u.username = #{username}
    </select>

    <insert id="create" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO users (name, username, password)
        VALUES (#{name}, #{username}, #{password})
    </insert>

    <update id="update">
        UPDATE users
        SET name = #{name},
        username = #{username},
        password = #{password}
        WHERE id = #{id};
    </update>

    <insert id="insertUserRole" >
        INSERT INTO users_role (user_id, role)
        VALUES (#{userId}, #{role})
    </insert>

    <select id="isTaskOwner" resultType="boolean">
        SELECT exists(
        SELECT 1
        FROM users_tasks
        WHERE user_id = #{userId}
        AND task_id = #{taskId}
        )
    </select>

    <delete id="delete">
        DELETE from users
        WHERE id = #{id}
    </delete>
</mapper>